<!DOCTYPE HTML>
<html lang="es" prefix="og: http://ogp.me/ns#">
  <%= partial 'head' %>
	<body class="homepage">

		<!-- Header -->
			<div id="header">

          <%= partial 'header', locals: { type: :big } %>
          <%= partial 'nav' %>

			</div>

    <%= yield %>
	</body>
</html>
