<!DOCTYPE HTML>
<html>
  <%= partial 'head' %>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
						
				<!-- Inner -->
					<div class="inner">
						<header>
							<img id="logo" src="images/logo-inv.png" alt="Partido Pirata de Argentina" />
							<h1><a href="index.html" >Partido Pirata</a></h1>
							<hr />
							<p>Queremos traer transparencia y justicia a la politica mediante la participación abierta y democrática.</p>
						</header>
						<footer>
							<a href="#banner" class="button circled scrolly">Comenzar</a>
						</footer>
					</div>

          <%= partial 'nav' %>

			</div>

  <%= yield %>
  <%= partial 'footer' %>
	</body>
</html>
