<!DOCTYPE HTML>
<html>
  <%= partial 'head' %>
	<body class="left-sidebar">

		<!-- Header -->
			<div id="header">

				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="index.html" id="logo">Helios</a></h1>
						</header>
					</div>
				
        <%= partial 'nav' %>

			</div>
			
		<!-- Main -->
			<div class="wrapper style1">

				<div class="container">
          <%= yield %>
				</div>

			</div>

		<%= partial "footer" %>
	</body>
</html>
