<!-- Inner -->
  <div class="inner">
    <header>
      <% if logo == :big %>
      <img id="logo" src="/images/logo-inv.png" alt="Partido Pirata de Argentina" />
      <h1><a href="/index.html" >Partido Pirata</a></h1>
      <hr />
      <p>Queremos traer transparencia y justicia a la politica mediante la participación abierta y democrática.</p>
      <% elsif logo == :inline %>
      <h1><img id="logo" class="inline" src="/images/logo-inv.png" alt="Partido Pirata de Argentina" /><a href="/index.html" >Partido Pirata</a></h1>
      <% end %>

    </header>
    <% if comenzar %>
    <footer>
      <a href="#banner" class="button circled scrolly">Comenzar</a>
    </footer>
    <% end %>
  </div>
