<!-- Inner -->
  <div class="inner">
    <header>
        <img id="logo" src="/images/logo.png" alt="Partido Interdimensional Pirata" />
        <h1><a href="/index.html" class="monkey">Partido<br/>Interdimensional<br/>Pirata</a></h1>
        <h2 class="monkey">
          <span class="blink">&gt;</span>
          <a href="https://utopia.partidopirata.com.ar/quiero_ser_una_pirata.html">¡quiero ser pirata!</a>
          <span class="blink">&lt;</span>
        </h2>
    </header>

    <footer>
      <a href="https://github.com/piratas-ar">
        <%= image_tag 'copyleft.svg', class: 'copyleft' %>
      </a>
    </footer>
  </div>
