<!-- Inner -->
  <div class="inner">
    <header class="<%= type.to_s %>">
        <% if type == :big %>
          <img id="logo" src="/images/logo.png" alt="Partido Interdimensional Pirata" />
        <% end %>

        <h1><a href="/index.html" class="monkey">Partido<br/>Interdimensional<br/>Pirata</a></h1>
        <h2 class="monkey">
          <a href="https://utopia.partidopirata.com.ar/quiero_ser_pirata.html">
            <span class="blink">&gt;</span>
            ¡quiero ser pirata!
            <span class="blink">&lt;</span>
          </a>
        </h2>
    </header>

    <% if type == :big %>
      <footer>
        <a href="https://github.com/piratas-ar">
          <%= image_tag 'copyleft.svg', class: 'copyleft' %>
        </a>
      </footer>
    <% end %>
  </div>
