
<!-- Nav -->
  <nav id="nav">
    <ul>
      <li><%= link_to 'contacto', '/contacto.html', class: 'monkey' %></li>
      <li><%= link_to 'utopías', 'https://utopia.partidopirata.com.ar', class: 'monkey' %></li>
      <li><%= link_to 'prensa', '/prensa.html', class: 'monkey' %></li>
      <li><%= link_to 'blog', '/blog', class: 'monkey' %></li>
    </ul>
  </nav>

