---
layout: sidebar
title: 'Acerca de | Partido Pirata'
---
					<div class="row double">
						<div class="4u" id="sidebar">
							<hr class="first" />
							<section>
								<header>
									<h3><%= link_to 'Conocé Nuestros Principios', '/principios.html' %></h3>
								</header>
								<p>
                  Si en aquel mundo dominado por monopolios depredadores, por la esclavitud, la autocracia y el racismo, 
                  los Piratas se dieron a sí mismos igualdad, libertad, autodeterminación y auténtica convivencia multicultural, 
                  ignorando toda corrección política de su tiempo, entonces es que reivindicamos su bandera, su legado y su nombre.
								</p>
								<footer>
                  <%= link_to 'Seguir leyendo', '/principios.html', class: 'button' %>
								</footer>
							</section>
							<hr />
							<section>
								<header>
									<h3><a href="#">Sed lorem etiam consequat</a></h3>
								</header>
								<p>
									Tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Nibh sed cubilia</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Proin sed adipiscing</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Lorem feugiat magna</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Sed tempus fringilla</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic14.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Malesuada fermentum</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<footer>
									<a href="#" class="button">Magna Adipiscing</a>
								</footer>
							</section>
						</div>
						<div class="8u skel-cell-important" id="content">
							<article id="main">
								<header>
									<h2><a href="#">Acerca de</a></h2>
									<p>
                    <strong>El Partido Pirata es un movimiento internacional</strong>, 
                    ya que <strong>entendemos que las problemáticas locales son específicas, 
                    pero que los valores son humanos y globales.</strong>
									</p>
								</header>

								<p>Con representación en 42 países, teniendo como herramienta internet, la Pirate
                Parties International (PPI) nuclea y reúne las agrupaciones piratas alrededor
                del mundo, incentivando un ambiente de intercambio, debate, innovación,
                experiencia compartida y apoyo entre naciones e individuos.</p>

                <p>En Argentina empezamos hace 5 años, y durante todo este tiempo estuvimos
                tramando lazos con distintas comunidades e incorporando más gente <strong>constituímos
                una carta orgánica en dónde cada palabra está puesta a conciencia</strong>, en base a
                las prácticas y a la experiencia de la organización.</p>

                <p><em>La horizantalidad es un proceso: aprender, enseñar, debatir, acordar y seguir
                aprendiendo lleva tiempo.</em></p>  

                <p><strong>Somos la representación del pueblo argentino</strong>, dedicamos tiempo y energía a
                construir un mañana mejor. Entre los piratas podés encontrar estudiantes,
                trabajadores, profesionales de diferentes áreas, científicos, obreros, personas
                de distinta fe y credo, algunos somos descendientes de pueblos originarios
                otros tenemos pasaporte europeo, muchos somos militantes experimentados pero
                somos aún más los curiosos preocupados que estamos aprendiendo sobre civismo.
                Entendimos que con respeto, solidaridad y consciencia se puede sobreponer
                diferencias.</p>

								<section>
									<header>
										<h3>Un poco de Historia</h3>
									</header>
								</section>

                <p>¿Por qué piratas?  El término viene de la conocida "piratería informática."
                Formado en Suecia el primero de enero del 2006, la <strong>Piratpartiet se
                crea</strong> cómo
                respuesta a una serie de sucesos relacionados a los derechos de autor y
                libertad de información. Ese mismo año, nuevos partidos aparecen en Europa y
                alrededor del mundo. El principal canal de propaganda y difusión, de debate y
                organización, fue internet, y así el Partido Pirata se sumó a distintos
                movimientos que llevaban tiempo organizando sus batallas a través de la web
                -Anonymous, Occupy Wall Street, The Pirate Bay-. De este modo, distintas
                fuerzas fueron sumando nuevos temas a las agendas políticas de sus países, y el
                Partido Pirata cruzó el Atlántico hacia Argentina en el 2007 en búsqueda de una
                reforma de la Ley de Propidad Intelectual.</p>

                <p>El Partido Pirata Argentino rápidamente se encontró con una realidad muy
                distinta a la europea. Un escenario donde la pobreza, la corrupción, la
                administración deficiente y un deteriorado sistema educativo demuestra la
                ausencia del Estado y de la sociedad civil en cuestiones fundamentales de la
                nación. Bajo este panorama desalentador -bastante común en Latinoamérica- la
                construcción del Partido Pirata Argentino necesitó una organización y un
                enfoque político que pueda hacer frente a estos problemas y a la singularidad
                de la política nacional. Así nació un nuevo movimiento social guíado en sus
                comienzos por entusiastas del software libre y distintas personas cercanas al
                pensamiento de Hakim Bey, de modo que el Partido Pirata Argentino creó una
                estructura que reconcilia las mejores ideas de ambos mundos: la horizontalidad
                -tan natural para los desarrolladores de software libre-, el consenso, los
                bienes comunes -como los de la utopía pirata de Bey-, la cultura libre… Estos
                elementos requirieron años de debate y un ejercicio constante de consenso y
                disenso que, finalmente, se cristalizaron en los principios piratas, las bases
                de acción política y una rica Carta Orgánica que describe la estructura y
                organización del partido.</p>

                <p>Por fin los piratas estuvieron listos para dar el salto de movimiento social a
                partido político y así meterse de lleno en la agenda política, para participar
                activamente de debates instaurados en la sociedad, para sentar una posición
                partidaria a través de los mecanismos de consenso y disenso preestablecidos.
                Con vistas al 2015, los piratas argentinos cosechan los frutos del trabajo de
                años y sacan provecho de su estructura flexible, abierta, participativa,
                autogestionada y automoderada para tomar decisiones raṕidas sobre la dirección
                y el futuro del partido en relación a los temas que impactan más de cerca a la
                sociedad argentina.-</p>

							</article>
						</div>
					</div>

