---
title: Contacto | Partido Interdimensional Pirata
layout: blog
pageable: false
---
<article>
  <header>
    <h2>Escribinos</h2>
  </header>

  <p>Por mail a <span>contacto</span> (arroba) partidopirata.com.ar</p>

  <p>O veni a chatear al <a href="https://wiki.partidopirata.com.ar/IRC">IRC</a></p>
</article>

