---
layout: sidebar
title: 'Programa | Partido Pirata'
---
					<div class="row double">
						<div class="4u" id="sidebar">
							<hr class="first" />
							<section>
								<header>
									<h3><%= link_to 'Conocé Nuestros Principios', '/principios.html' %></h3>
								</header>
								<p>
                  Si en aquel mundo dominado por monopolios depredadores, por la esclavitud, la autocracia y el racismo, 
                  los Piratas se dieron a sí mismos igualdad, libertad, autodeterminación y auténtica convivencia multicultural, 
                  ignorando toda corrección política de su tiempo, entonces es que reivindicamos su bandera, su legado y su nombre.
								</p>
								<footer>
                  <%= link_to 'Seguir leyendo', '/principios.html', class: 'button' %>
								</footer>
							</section>
							<hr />
							<section>
								<header>
									<h3><a href="#">Sed lorem etiam consequat</a></h3>
								</header>
								<p>
									Tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic10.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Nibh sed cubilia</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic11.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Proin sed adipiscing</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic12.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Lorem feugiat magna</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic13.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Sed tempus fringilla</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<div class="row half no-collapse">
									<div class="4u">
										<a href="#" class="image fit"><img src="images/pic14.jpg" alt="" /></a>
									</div>
									<div class="8u">
										<h4>Malesuada fermentum</h4>
										<p>
											Amet nullam fringilla nibh nulla convallis tique ante proin.
										</p>
									</div>
								</div>
								<footer>
									<a href="#" class="button">Magna Adipiscing</a>
								</footer>
							</section>
						</div>
						<div class="8u skel-cell-important" id="content">
							<article id="main">
								<header>
									<h2><a href="#">Programa</a></h2>
									<p>
										Democracia directa, desarrollo sustentable y cultura libre. 
									</p>
								</header>
								<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
								<p>
									Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa 
									posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus 
									lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum 
									consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue 
									interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia 
									natoque aenean scelerisque vel lacinia mollis quam sodales congue.
								</p>
								<section>
									<header>
										<h3>Democracia directa</h3>
									</header>
                  <p>Fomento y desarrollo de políticas participativas, horizontales, democráticas y transparentes en todos los ámbitos, desde las organizaciones de base hasta el Estado.</p>
                  <p>Fomento de acciones que aseguren el mejoramiento de los sistemas de salud, educación y otros servicios públicos en todos sus niveles garantizando el acceso a todas las personas en forma libre y gratuita.</p>
                  <p>Fomento de acciones que faciliten e impulsen la creación de proyectos sociales colaborativos, para atacar problemas sociales desde las bases.</p>
								</section>
								<section>
									<header>
										<h3>Recursos naturales y desarrollo sustentable</h3>
									</header>
                  <p>Implementación de políticas ambientales y en defensa de los recursos naturales. Reemplazo de tecnologías extractivas y/o productivas que dañen el medio ambiente (fracking en petróleo, minería a cielo abierto, uso de transgénicos y glifosato, monocultivo sojero, etc.)</p>
                  <p>Producción sostenible y enfocada principalmente a la satisfacción de las necesidades locales.</p>
                  <p>Fomento y desarrollo de formas alternativas y ecológicas de producción de energía para lograr la autosuficiencia energética, con el objetivo de reducir al mínimo posible el uso de combustibles fósiles, energía atómica y otras fuentes energéticas contaminantes o cuya producción degrade el medio ambiente.</p>
                  <p>Fomento de acciones tendientes a construir una sociedad en que la propiedad de los medios de producción de bienes tanto tangibles como intangibles sea colectiva o social, en contraposición al actual régimen capitalista de la propiedad privada.</p>
                  <p>Impulso de leyes de restitución de tierras y reconocimiento histórico a los pueblos originarios.</p>
								</section>
								<section>
									<header>
										<h3>Cultura Libre</h3>
									</header>
                  <p>Fuerte impulso al desarrollo de las redes neutrales de comunicación. Una red neutral (principalmente en internet) es aquella que está libre de restricciones en las clases de equipamiento que pueden ser usadas y los modos de comunicación permitidos, que no restringe el contenido y no admite la censura de sitios y plataformas y donde la comunicación no está irrazonablemente degradada por otras comunicaciones. Asimismo, fomento de las redes libres, organizadas desde las bases.</p>
                  <p>Implementación de políticas de uso exclusivo de Software Libre en todos los ámbitos del Estado, con principal énfasis en la educación. Implementación de libre acceso, distribución y modificación para todo el material cultural, científico, estadístico, etc., producido o financiado por el Estado.</p>
                  <p>Reforma de las leyes de derecho de autor y patentes para que el libre acceso y la distribucion del conocimiento no sean penados. Reducción de la duración del monopolio privado sobre obras e invenciones.</p>
                  <p>Impulso de leyes que protejan y amplíen el derecho a la privacidad de todas las personas. Eliminación de todos los registros de datos innecesarios para garantizar el derecho al anonimato y el derecho a administrar sus datos personales a todas las personas.</p>
                  <p>Fomentar la prohibición de todo tipo de vigilancia. Asegurar la inviolabilidad de cualquier tipo de comunicación (oral, postal, electrónica, etc.) por parte del Estado y de privados. Eliminación de los sistemas de recolección de datos biométricos y cualquier tipo de sistema de vigilancia masiva.</p>
								</section>
							</article>
						</div>
					</div>
					<hr />
					<div class="row">
						<article class="4u special">
							<a href="#" class="image featured"><img src="images/pic07.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Gravida aliquam penatibus</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="4u special">
							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Sed quis rhoncus placerat</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
						<article class="4u special">
							<a href="#" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
							<header>
								<h3><a href="#">Magna laoreet et aliquam</a></h3>
							</header>
							<p>
								Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
								porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
							</p>
						</article>
					</div>

